* {
  font-family: "Inter";
}

.input-content,
.output-content {
  height: 50vh;
  width: 100vw;
}

body {
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}

.home {
  width: 100%;
  height: 100vh;
  background-color: #f3f5fc;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: space-between;
}

.social-content {
  margin-right: 1em;
}

.social-button {
  border: 1px #d7dae4 solid;
  background-color: transparent;
  border-radius: 1em;
}

.social-button:hover {
  border: 1px #aab2d5 solid;
}

.social-button img {
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
}

.input-content p {
  margin: 8px 1em;
  font-size: 12px;
  opacity: 0.8;
  color: #495057;
}

.input-text,
.output-text {
  /* Position */
  margin: 0.5em 0.5em 0px;
  box-sizing: border-box;
  width: 47vw;
  height: 70vh;

  /* Style */
  resize: none;
  text-transform: lowercase;
  font-size: 24px;
  border: none;
  outline: none;
}

.input-text {
  color: #0a3871;
  background-color: #f3f5fc;
  text-align: justify;
}

.encrypt-button {
  /* Button */
  width: 328px;
  height: 67px;
  border: none;
  margin-left: 0.5em;
  background-color: #0a3871;
  border-radius: 24px;
  /* Text */
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.decrypt-button {
  /* Button */
  width: 328px;
  height: 67px;
  margin: 0px;
  margin-right: 0.5em;
  display: inline-block;
  border: 1px solid #0a3871;
  background-color: #f3f5fc;
  border-radius: 24px;
  /* Text */
  font-size: 16px;
  font-weight: bold;
  color: #0a3871;
}

.displayed-output {
  margin: 3.5em 0.5em 0px;
  text-align: center;
}

.displayed-output h2 {
  margin: 0.5em;
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}

.displayed-output span {
  font-size: 16px;
  color: #495057;
}

.output-text {
  color: #495057;
  background-color: #ffffff;
  border-radius: 0.5em;
  text-align: justify;
}

.copy-button {
  /* Button */
  display: block;
  width: 328px;
  height: 67px;
  margin: 28px auto;
  border: 1px solid #0a3871;
  background-color: #f3f5fc;
  border-radius: 24px;
  /* Text */
  font-size: 16px;
  font-weight: bold;
  color: #0a3871;
}

.encrypt-button:hover,
.decrypt-button:hover,
.copy-button:hover {
  font-size: 1.5em;
  transition: 300ms;
}
